@import './reset.min.scss';

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf');  
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.ttf');  
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.ttf');  
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.ttf');  
  font-style: normal;
  font-weight: 700;
}


:root {
	--main-text: #273266;
	--white: #fff;
	--main-blue: #4160e1;
	--green: #a0c089;
	--gray-text: #717171;
  --border: #EBEBEB;
  --shadow: 0 1px 2px rgba(22, 33, 54, .16)
}

html {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: var(--main-text);
  overflow-x: clip;
  background: linear-gradient(149deg, rgba(208, 171, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), linear-gradient(41deg, rgba(208, 171, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

body.disabled {
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 1 auto;
  margin-top: 121px;
}
.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  margin-bottom: clamp(60px, 12vw, 100px);
}

header {
  background-color: var(--white);
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.page__title {
  font-size: clamp(24px, 6vw, 40px);
  font-weight: 700;
  line-height: 120%;
}

.section__title {
  font-size: clamp(20px, 5vw, 28px);
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 13px 13px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--main-text);
  transition: .3s;
}

.btn:hover {
  background-color: var(--main-blue);
  color: var(--white);  
  border-color: var(--main-blue);
}

.btn_border {
  border-color: var(--main-text);
}

.btn_blue {
  background-color: var(--main-blue);
  color: var(--white);
  border-color: var(--main-blue);
}

.btn_blue:hover {
  background-color: var(--white);
  color: var(--main-text);
  border-color: var(--main-text);
}

.btn_border {
  border-color: var(--main-text);
}

.btn_gradient {
  border-color: transparent;
  background: linear-gradient(90deg, #1624EC, #777FED);
  color: var(--white);
  padding: 13px 37px;
  border-right: none;
}
.btn_gradient:hover {
  background: var(--white);
  color: var(--main-text);
  border-color: transparent;
}
.btn_trancparent {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}

.see-more {
  display: inline-block;
  font-size: 13px;
  position: relative;
  font-weight: 600;
  padding-right: 14px;  
}

.see-more:hover::after {
  right: 0;
}

.see-more::after {
  content: '';
  position: absolute;
  right: 3px;
  top: 4px;
  width: 6px;
  height: 10px;
  background: url('../assets/images/see-more.svg') no-repeat;
  transition: .3s;
}

.breadcrumbs {
  margin: 15px 0 25px;
  font-size: 12px;
}
.breadcrumbs span:last-child{
  color: var(--gray-text);
}

@media(max-width: 850px) {
  main {
    margin-top: 61px;
  }
}